<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Your Name - Portfolio</title>
</head>
<body>
  <header>
    <h1>Kirendarshini R</h1>
    <p>Web Developer - Web Security</p>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/download-resume">Download Resume</a></li>
    </ul>
  </nav>

  <section>
    <h2>About Me</h2>
    <p>Welcome to my portfolio website. I'm a passionate and results-oriented final year B.Tech Computer Science student with a specialization in Cyber Security from SRM Institute of Science and Technology. My academic excellence is reflected in my CGPA of 8.64, showcasing my dedication to mastering complex concepts. Beyond academics, I've gained valuable practical experience through my internship at Xtracut, where I honed my skills in IT security and project management. This experience allowed me to apply theoretical knowledge to real-world scenarios, collaborating effectively with teams to deliver successful projects. I'm eager to leverage my technical expertise, analytical thinking, and problem-solving skills to contribute meaningfully to the cybersecurity field. Explore my portfolio to delve deeper into my projects and accomplishments, and discover how I can add value to your organization.</p>
  </section>

  <section>
    <h2>Education</h2>
    <p>Institute Name: SRM Institute of Science and Technology</p>
    <p>Course: BTech Computer Science with Specialisation in Cyber Security</p>
    <p>CGPA: 8.64</p>
    <p>Passout Year: 2024</p>
  </section>

  <section> 
    <h2>Work EXperience</h2>
    <p>Company Name: Xtracut</p>
    <p> Role: Project Management and IT Security Intern</p>
    <p>Duration: 05/2023 - 06/2023</p>
    <p>Skills: Maintained Zoho Project CRM, Web Application security, Documentation and Reporting and Incident Response</p>
  </section>

  <section>
    <h2>Contact</h2>
    <p>Email: rkirendarshini@gmail.com</p>
    <p>Mobile: 9360386131</p>
  </section>
</body>
</html>
