<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Your Name - Projects</title>
</head>
<body>
  <header>
    <h1>Your Name</h1>
    <p>Web Developer</p>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>

  <section>
    <h2>Projects</h2>
    <ul>
      <li>Automatic Gmail Reply- Node.js</li>
      <p>Building an auto-reply system for your Gmail in Node. js lets you craft custom responses triggered by incoming emails. Using libraries like 'Nodemailer' and the Gmail API, you can analyze emails, craft personalized replies, and send them automatically, keeping your senders informed even while you're unavailable. This setup can handle basic scenarios like vacation notices or out-of-office messages, offering a flexible and automated solution for email management</p>
      <li>Network and Port Scanner</li>
      <p>The network and port scanner project in Python is designed to scan and analyse networks, identifying open ports and potential vulnerabilities.</p>
      <li>Anomaly Detection in Network Traffic using Data Analytics(Group)</li>
      <p>Our project delves into the hidden world of network traffic, using the power of data analytics to expose anomalies and safeguard systems. Imagine a team of digital Sherlock Holmes, meticulously examining data patterns to identify suspicious activity, like hidden intruders or malfunctioning machines. Through collaborative exploration and cutting-edge algorithms, we shine a light on these "digital ghosts," ensuring the smooth flow of information and protecting essential networks.</p>
      <li>Detection of SQL Injection using Machine Learning (Group)</li>
      <p>Detection of SQL Injection using Machine Learning involves training models on query patterns, analyzing syntax, and anomaly detection to identify malicious SQL statements, enhancing web application security.</p>
      <!-- Add more projects as needed -->
    </ul>
  </section>
</body>
</html>
