/* public/css/style.css */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-image: url('download.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2e2e30;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  nav {
    background-color: #ededf0;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  section {
    margin: 20px;
  }
  